.buttons-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
}

.game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

button {
    color: black;
}


.errors {
    font-size: 1.5rem;
    font-weight: bold;
}

.errors p span {
    color: red;
}